<h1 class='text-center'>OCCUPY GOVERNMENT</h1>
<h3 class='text-center'>Choose a policy, and discuss with your fellow countrymen. Freely share your opinions!</h3>
<div class="well-lg">
<% Policy.all.each do |p| %>
	<div class="row">
		<div id="container">
			<p><strong>Title: <%= p.title %></strong></p>
		</div>
		<div id="container">
			<p><%= p.content %></p> 
		</div>
		<%= link_to "Details", policy_path(p.id) %>
	</div><br>
<% end %>	
</div>